doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title Crux Box : Get to the Crux of the Matter
    meta(name='author', content='Fust Kilas')
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='css/crux.css')
  
    
  body
    != yield

    script(src='js/vue.js')
    script(src='js/bundle.js')
