doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title Ziarno
    meta(name='author', content='Fust Kilas')
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='/css/ziarno.css')
  
    
  body
    != yield

    script(src='https://vuejs.org/js/vue.js')
    script(src='/js/ziarno.js')
