doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title Phleks
    meta(name='author', content='Fust Kilas')
    meta(name='description', content='Phleks, a dead-simple HTML5 boilerplate using Flexbox')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='phleks.css')
  
    
  body
    != yield
