#app
  div(v-for="(item, index) in quiz.texts")
    div(v-show="index === questionIndex")
      .quiz


        .heading(v-if="questionIndex<9")
          p {{ item.number }} / 9 
          .nanobar(v-bind:style="{ width: nanobar + '%' }")
          
        .visuals
          img(v-bind:src="item.img")
          div
            p.score(v-if="questionIndex===9") {{ score }} / 9
            // -
              p.correctAnswers(v-if="questionIndex===9") {{ quiz.correctAnswers[quiz.locale] }}


        .texts
          .prelude
            h2(v-if="questionIndex===9") {{ quiz.quote[quiz.locale] }}


            p {{ item.prelude[quiz.locale] }}

            p.question {{ item.question[quiz.locale] }}

          .ui(v-if="questionIndex<9")
            button.nie(v-on:click="nie" v-bind:disabled="noDisabled" v-bind:style="{ background: noColor }") {{ quiz.ui.no[quiz.locale] }}
            button.tak(v-on:click="tak" v-bind:disabled="yesDisabled" v-bind:style="{ background: yesColor }") {{ quiz.ui.yes[quiz.locale] }}
            button.next(v-on:click="next" v-bind:disabled="nextDisabled") {{ quiz.ui.nextQ[quiz.locale] }}
          .ui(v-else)
            button.next(v-on:click="revert") {{ quiz.ui.playAgain[quiz.locale] }}

        .messages(v-if="displayToast")
          p.toast(v-if="good") {{ quiz.bravo[quiz.locale] }}
          p.toast(v-else) {{ quiz.sorry[quiz.locale] }}          
          p.reply {{ item.reply[quiz.locale] }}

        .options

          img.lang(v-bind:src="quiz.ui.langImgURL[quiz.locale]" v-on:click="swap")
          img.revert(src="img/icons/revert.png" v-on:click="revertQ")
          img.help(src="img/icons/help.png" v-on:click="help")
          
        #help.modal(v-if="showHelp")
          .info
            h2 {{ quiz.help.title[quiz.locale] }} 
            h3 {{ quiz.help.instructions[quiz.locale] }}
            p {{ quiz.help.blurb[quiz.locale] }}
            p {{ quiz.help.goodluck[quiz.locale] }}
            img.close(src="img/icons/cancel.png" v-on:click="close")  

        #revert.modal(v-if="showRevert")
          .revert-info
            img.close(src="img/icons/cancel.png" v-on:click="close")

            h3 {{ quiz.revert[quiz.locale] }}
            h4.no(v-on:click="close") {{ quiz.ui.no[quiz.locale] }}
            h4.yes(v-on:click="revert") {{ quiz.ui.yes[quiz.locale] }}



          
