#app
  div(v-for="(item, index) in quiz.texts")
    div(v-show="index === questionIndex")
      .quiz


        .heading
          p {{ item.number }} / 9 
          .nanobar(v-bind:style="{ width: nanobar + '%' }")
          
        .visuals
          img(v-bind:src="item.img")
          p.score(v-if="questionIndex===9") {{ score }} / 9


        .texts
          .prelude
            p {{ item.prelude[quiz.locale] }}

            p.question {{ item.question[quiz.locale] }}

          .ui(v-if="questionIndex<9")
            button.nie(v-on:click="nie" v-bind:disabled="noDisabled" v-bind:style="{ background: noColor }") {{ quiz.ui.no[quiz.locale] }}
            button.tak(v-on:click="tak" v-bind:disabled="yesDisabled" v-bind:style="{ background: yesColor }") {{ quiz.ui.yes[quiz.locale] }}
            button.next(v-on:click="next" v-bind:disabled="nextDisabled") {{ quiz.ui.nextQ[quiz.locale] }}

        .messages(v-if="displayToast")
          p.toast(v-if="good") {{ quiz.bravo[quiz.locale] }}
          p.toast(v-else) {{ quiz.sorry[quiz.locale] }}          
          p.reply {{ item.reply[quiz.locale] }}

        .options

          img.lang(v-bind:src="quiz.ui.langImgURL[quiz.locale]" v-on:click="swap")
          img.revert(src="img/icons/revert.png" v-on:click="revert")
          img.help(src="img/icons/help.png")


          