.month.tc.f6.normal
  .week.A
    .day.01.pink
      .f1.tc plptk
    .day.02
      h1 plptk
    .day.03
      h1 plptk
    .day.04
      h1 plptk
    .day.05
      h1 plptk
    .day.06
      h1 plptk
    .day.07
      h1 plptk
  .week.A
    .day.01
      h1 plptk
    .day.02
      h1 plptk
    .day.03
      h1 plptk
    .day.04
      h1 plptk
    .day.05
      h1 plptk
    .day.06
      h1 plptk
    .day.07
      h1 plptk
  .week.A
    .day.01
      h1 plptk
    .day.02
      h1 plptk
    .day.03
      h1 plptk
    .day.04
      h1 plptk
    .day.05
      h1 plptk
    .day.06
      h1 plptk
    .day.07
      h1 plptk
  .week.A
    .day.01
      h1 plptk
    .day.02
      h1 plptk
    .day.03
      h1 plptk
    .day.04
      h1 plptk
    .day.05
      h1 plptk
    .day.06
      h1 plptk
    .day.07
      h1 plptk
