section.pv5.mw-100

  h1.f1.tc.normal.light-purple 
    span.bg-yellow.pa3.pv3 cruxbox
  h2.f2.tc.pa4.normal The Crux of the Matter. 


section.hero.mw5.center.pa2
  img(src="/img/lego.svg")


section.instructions.center.pa5.tc
  .mw7.bg-light-gray.center.pa5.ph6
    h1 Instructions
    ol
      li.f3.pa3.ph2 Power your Crux Box
      li.f3.pa3.ph2 Connect Ethernet
      li.f3.pa3.ph2 Visit cruxbox.xyz
      li.f3.pa3.ph2 Press Button
      li.f3.pa3.ph2 Magic!

section.pa4.tc.mw9
  #cloud


section
  h1.f5.tc Made by 180 LAB JvM